.app {
  display: flex;
  background: #212121;
  height: 100vh;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}
.side-bar-container{
  width: auto;
  padding: 0 100px;
  text-align: center;
  overflow-y: scroll;
}
.side-bar-container::-webkit-scrollbar {
  display: none;
}
.add-menu{
  margin: auto;
}
.body-card{
    margin: auto;
    width: 500px;
    height: 700px;
}

.field{
    margin-left: 10px;
}
.card-header{
    text-align: center;
    margin-top: 30px;
}
.card-footer{
    position: absolute;
    justify-content: end;
}