.app {
  display: flex;
  background: #212121;
  height: 100vh;
  width: 100%;
}

body {
  margin: 0;
}
.side-bar-container{
  width: auto;
  overflow-y: scroll;
}
.side-bar-container::-webkit-scrollbar {
  display: none;
}
.content{
  position: absolute;
  margin-left: 400px;
  background-color: aliceblue;
}